@font-face {
  font-family: 'iconfont';  /* project id 1433321 */
  src: url('//at.alicdn.com/t/font_1433321_nkaababwut.eot');
  src: url('//at.alicdn.com/t/font_1433321_nkaababwut.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1433321_nkaababwut.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1433321_nkaababwut.woff') format('woff'),
  url('//at.alicdn.com/t/font_1433321_nkaababwut.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1433321_nkaababwut.svg#iconfont') format('svg');
}

.iconfont {
    /*position: absolute;*/
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}